RewriteEngine On

# Hardcoded RewriteBase for testing
RewriteBase /prin/y1d13/x8d44/Advanced-Web-Tech/v15/grocery_store/public/

# Don't rewrite if the request is for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule ^ index.php [L]